<!DOCTYPE html>
<html lang="en"
      xmlns:th="http://www.thymeleaf.org"
      xmlns:sec="http://www.thymeleaf.org/extras/spring-security" xmlns="http://www.w3.org/1999/html">
<head>
    <style>
        body {
            background-image: url(/image/profile.jpeg);
            background-size: 100%;
            background-attachment: fixed;
        }
    </style>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <!--     Bootstrap core CSS -->

    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css"
          integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">

    <title>User Profile</title>
</head>
<body>
<nav th:include="fragments/navbar"></nav>
</br> </br> </br>
<div class="tab-content" id="nav-tabContent" style="opacity: 0.7;border-radius: 5%;">
    <div class="tab-pane fade show active" id="list-profile" role="tabpanel" aria-labelledby="list-profile-list">
        <div class="card text-center mb-xl-3 mx-auto" style="max-width: 800px;">
            <div class="row no-gutters justify-content-center" >
                <div class="col-md-6 justify-content-center">
                    </br> </br>
                    <div th:if="${user.picture == null}" style="text-align: center;">
                        <img src="/image/default.jpeg"
                             style="border-radius: 5%;box-shadow:10px 10px #1e3033 ;" width="260" ; height="260">
                    </div>
                    <div th:unless="${user.picture == null}" style="text-align: center;">
                        <img th:src="@{'data:image/jpeg;base64,' + ${user.picture}}" alt="image"
                             style="border-radius: 5%;box-shadow: 10px 10px #1e3033;" width="260" ; height="260">
                    </div>
                    </br> </br>
                    <ul class="list-group list-group-horizontal" style="padding-left: 20px;">
                        <form class="list-group-item justify-content-center" sec:authorize="isAuthenticated()">
                            <a th:href="@{'/users/username/' + ${user.username} + '/playlists'}"
                               class="list-group-link"
                               style="color: #A65188">My Playlists</a>
                        </form>
                        <form class="list-group-item justify-content-center" sec:authorize="isAuthenticated()">
                            <a th:href="@{'/users/username/' + ${user.username} + '/edit'}" class="list-group-link"
                               style="color: #A65188">Edit Profile</a>
                        </form>
                        <form class="list-group-item justify-content-center"sec:authorize="isAuthenticated() ">
                            <a th:href="@{'/users/' + ${user.username} + '/delete'}" class="ist-group-link"
                               style="color: #A65188">Delete Profile</a>
                        </form>
                    </ul>
                    </br> </br>
                </div>
                <div class="col-md-6 justify-content-center">
                    <div class="card-body justify-center">
                    </br>
                        <h5 class="card-title" style="font-family: 'Kalam';
                font-style: oblique;
                font-weight: bold;
                font-size: 30px ;color:#A65188">Personal Details</h5>
                        <label style="size: letter">Username:</label>
                        <h3 th:text="${user.username}" style="font-family: 'Kalam';
                font-weight: bold;
                font-size: 25px ;color:#A65188">Username:</h3>
                        <label style="size: letter">Email:</label>
                        <h6 th:text="${user.email}"
                            style="font-family: 'Kalam';
                font-weight: bold;
                font-size: 25px ;color:#A65188">Email:</h6>
                        <label>First name:</label>
                        <h6 th:text="${user.firstName}"
                            style="font-family: 'Kalam';
                font-weight: bold;
                font-size: 25px ;color:#A65188">First name:</h6>
                        <label>Last name:</label>
                        <h6 th:text="${user.lastName}"
                            style="font-family: 'Kalam';
                font-weight: bold;
                font-size: 25px ;color:#A65188">Last name</h6>
                        <label>Age:</label>
                        <h6 th:text="${user.age}"
                            style="font-family: 'Kalam';
                font-weight: bold;
                font-size: 25px ;color:#A65188">Age:</h6>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

<span th:include="fragments/scripts-loader"></span>

<footer th:include="fragments/footer"></footer>
</body>
</html>